form {
    color: $rosa2;
}
legend {
    font-family: 'Pacifico';
    font-size: 3rem;
    font-weight: lighter;
    margin: 10px;
}
fieldset {
    border-color: $azul;
}
.contactanos img{
    height: 10vh;
}
#limp {
    background-color: $rosa2;
    color: $blanco;
    border-color: $rosa2;
}
#env {
    background-color: $rosa2;
    color: $blanco;
    border-color: $rosa2;
}
.textoForm {
    font-size: 2rem;
}